name: GHA Build
on:
    workflow_dispatch:
    push:
        branches:
            - 'main'    

permissions:
    id-token: write
    contents: read

env:
    artifact_version: 4.0.0
    
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      artifactId: ${{ steps.artifact-id.outputs.test }}
    steps:
      - name: Compile Code
        run: echo "Compiling..."

      - name: Produce Binary
        run: sleep 5

      - name: Push binary
        run: echo "Pushing Binary to ECR..."

      - name: Register Build Artifacts in Cloudbees Platform
        uses: cloudbees-io-gha/register-build-artifact@v3
        id: go-action
        with:
          name: "Automation test for Register-Artifacts"
          version: ${{ env.artifact_version }}
          url: docker.io/SampleApp/SampleApp-Backend-15:${{ env.artifact_version }}
          type: "docker"
          # cloudbees-url: "https://api.cloudbees.io"
          # cloudbees-pat: ${{ secrets.CBP_PAT_PROD }}
            
      - name: Publish evidence
        uses: cloudbees-io-gha/publish-evidence-item@v2
        with:
          # cloudbees-pat: ${{ secrets.CBP_PAT_PROD }}
          # cloudbees-url: "https://api.cloudbees.io"
          content: |-
            Build Completed and artifacts published to Cloudbees platform

      - name: Set the artifact-id
        id: artifact-id
        run: |
            echo ${{ steps.go-action.outputs.cbp_artifact_id }} 
            echo "test=${{ steps.go-action.outputs.cbp_artifact_id }}" >> $GITHUB_OUTPUT

  test:
    runs-on: ubuntu-latest
    needs: [build]   # Depends on 'build' job
    steps:
      - name: Run tests
        run: echo "Running Tests..."

      - name: Checkout to Collect Test Results
        uses: actions/checkout@v3

      - name: Publish Test Results in Cloudbees Plaform
        uses: cloudbees-io-gha/publish-test-results@v2
        with:
          test-type: GO
          results-path: test-results/results.json
          # cloudbees-url: "https://api.cloudbees.io"
          # cloudbees-pat: ${{ secrets.CBP_PAT_PROD }}
          
      - name: Publish evidence
        uses: cloudbees-io-gha/publish-evidence-item@v2
        with:
          # cloudbees-url: "https://api.cloudbees.io"
          # cloudbees-pat: ${{ secrets.CBP_PAT_PROD }}
          content: |-
            Testing Completed and results published to Cloudbees platform
            Test | Results |
            --------|---------|
            Test 1 | PASS |
            Test 2 | FAIL |
            Test 3 | PASS |

  deploy:
    runs-on: ubuntu-latest
    needs: [build,test]   # Depends on both 'build' and 'test' jobs
    steps:
      - name: Checkout to Prepare Manifest
        uses: actions/checkout@v3
        
      - name: Trigger Deployment
        uses: cloudbees-io-gha/run-cloudbees-workflow@v1
        id: deploy
        with :
          cloudbees-url: "https://api.cloudbees.io"
          cloudbees-pat: ${{ secrets.CBP_PAT_PROD }}
          workflow-file-name: "cbp-deploy.yaml"
          workflow-inputs: '{"artifactName": "SampleApp-Backend-15","artifactVersion": "${{ env.artifact_version }}", "environment": "PROD", "artifactId" : "${{needs.build.outputs.artifactId}}"}'

      - name: Use runUrl output
        run: echo "The CloudBees run URL is ${{ steps.deploy.outputs.cbp_run_url}}"
        
        
        
        
        
